.main,
.main input,
.main textarea {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .icon {
  height: 100px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.main textarea {
  padding: 12px 16px;
  border: 1px solid #ffaa00;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #ffaa00;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #ffaa00;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}
