.main,
.main input,
.main textarea {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .icon {
  height: 100px;
}

.main a {
  display: block;
  background: #eee;
  padding: 20px;
  border: 1px outset gray;
  text-decoration: none;
  color: #353740;
  width: 500px;
}
